@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

body{
  font-family: 'roboto',sans-serif;
  background: #DEEDED;
}

.container{
  width:80%;
  margin: 0 auto;
}